/* #region */
/*! modern-normalize v1.1.0 | MIT License | https://github.com/sindresorhus/modern-normalize */

/*
Document
========
*/

/**
Use a better box model (opinionated).
*/

*,
::before,
::after {
	box-sizing: border-box;
}

html {
	/* Improve consistency of default fonts in all browsers. (https://github.com/sindresorhus/modern-normalize/issues/3) */
	font-family:
		system-ui,
		'Segoe UI',
		Roboto,
		Helvetica,
		Arial,
		sans-serif,
		'Apple Color Emoji',
		'Segoe UI Emoji';
	line-height: 1.15; /* 1. Correct the line height in all browsers. */
	-webkit-text-size-adjust: 100%; /* 2. Prevent adjustments of font size after orientation changes in iOS. */
	-moz-tab-size: 4; /* 3. Use a more readable tab size (opinionated). */
	tab-size: 4; /* 3 */
}

/*
Sections
========
*/

body {
	margin: 0; /* Remove the margin in all browsers. */
}

/*
Grouping content
================
*/

/**
1. Add the correct height in Firefox.
2. Correct the inheritance of border color in Firefox. (https://bugzilla.mozilla.org/show_bug.cgi?id=190655)
*/

hr {
	height: 0; /* 1 */
	color: inherit; /* 2 */
}

/*
Text-level semantics
====================
*/

/**
Add the correct text decoration in Chrome, Edge, and Safari.
*/

abbr[title] {
	text-decoration: underline dotted;
}

/**
Add the correct font weight in Edge and Safari.
*/

b,
strong {
	font-weight: bolder;
}

/**
1. Improve consistency of default fonts in all browsers. (https://github.com/sindresorhus/modern-normalize/issues/3)
2. Correct the odd 'em' font sizing in all browsers.
*/

code,
kbd,
samp,
pre {
	font-family:
		ui-monospace,
		SFMono-Regular,
		Consolas,
		'Liberation Mono',
		Menlo,
		monospace; /* 1 */
	font-size: 1em; /* 2 */
}

/**
Add the correct font size in all browsers.
*/

small {
	font-size: 80%;
}

/**
Prevent 'sub' and 'sup' elements from affecting the line height in all browsers.
*/

sub,
sup {
	font-size: 75%;
	line-height: 0;
	position: relative;
	vertical-align: baseline;
}

sub {
	bottom: -0.25em;
}

sup {
	top: -0.5em;
}

/*
Tabular data
============
*/

/**
1. Remove text indentation from table contents in Chrome and Safari. (https://bugs.chromium.org/p/chromium/issues/detail?id=999088, https://bugs.webkit.org/show_bug.cgi?id=201297)
2. Correct table border color inheritance in Chrome and Safari. (https://bugs.chromium.org/p/chromium/issues/detail?id=935729, https://bugs.webkit.org/show_bug.cgi?id=195016)
*/

table {
	text-indent: 0; /* 1 */
	border-color: inherit; /* 2 */
}

/*
Forms
=====
*/

/**
1. Change the font styles in all browsers.
2. Remove the margin in Firefox and Safari.
*/

button,
input,
optgroup,
select,
textarea {
	font-family: inherit; /* 1 */
	font-size: 100%; /* 1 */
	line-height: 1.15; /* 1 */
	margin: 0; /* 2 */
}

/**
Remove the inheritance of text transform in Edge and Firefox.
*/

button,
select {
	text-transform: none;
}

/**
Correct the inability to style clickable types in iOS and Safari.
*/

button,
[type='button'],
[type='reset'],
[type='submit'] {
	-webkit-appearance: button;
}

/**
Remove the inner border and padding in Firefox.
*/

::-moz-focus-inner {
	border-style: none;
	padding: 0;
}

/**
Restore the focus styles unset by the previous rule.
*/

:-moz-focusring {
	outline: 1px dotted ButtonText;
}

/**
Remove the additional ':invalid' styles in Firefox.
See: https://github.com/mozilla/gecko-dev/blob/2f9eacd9d3d995c937b4251a5557d95d494c9be1/layout/style/res/forms.css#L728-L737
*/

:-moz-ui-invalid {
	box-shadow: none;
}

/**
Remove the padding so developers are not caught out when they zero out 'fieldset' elements in all browsers.
*/

legend {
	padding: 0;
}

/**
Add the correct vertical alignment in Chrome and Firefox.
*/

progress {
	vertical-align: baseline;
}

/**
Correct the cursor style of increment and decrement buttons in Safari.
*/

::-webkit-inner-spin-button,
::-webkit-outer-spin-button {
	height: auto;
}

/**
1. Correct the odd appearance in Chrome and Safari.
2. Correct the outline style in Safari.
*/

[type='search'] {
	-webkit-appearance: textfield; /* 1 */
	outline-offset: -2px; /* 2 */
}

/**
Remove the inner padding in Chrome and Safari on macOS.
*/

::-webkit-search-decoration {
	-webkit-appearance: none;
}

/**
1. Correct the inability to style clickable types in iOS and Safari.
2. Change font properties to 'inherit' in Safari.
*/

::-webkit-file-upload-button {
	-webkit-appearance: button; /* 1 */
	font: inherit; /* 2 */
}

/*
Interactive
===========
*/

/*
Add the correct display in Chrome and Safari.
*/

summary {
	display: list-item;
}
/* #endregion */

*{scroll-behavior: smooth;scroll-padding-top: 8rem;font-family: 'Satisfy', cursive;}
html{background-color:rgb(214, 171, 114);color: rgb(0, 0, 0);font-family: 'Dancing Script', cursive;}
header{display: flex;position: fixed;width:100%;height: 8rem;background-color: aliceblue;padding: 0.5rem;padding-left:3vw;z-index: 1;border-bottom: 2px solid grey;}
nav{display:flex;justify-content:flex-end;width: 100%;gap:10vw;margin-left: 4vw;align-items: center;margin-right: 4vw;}
.nav-link{font-size: 1.5rem;text-decoration: none;color: black;}
.nav-link:hover{font-size: 2rem;transition: 0.3s;}
#header-img{width:7.5rem;height: 7rem;}

main{padding-top: 9rem;display: flex;flex-direction: column; }
section{border-top: 2px solid grey;border-bottom: 2px solid grey;}
#about_us{background-image: url(images/Delivery.jpg);background-size: cover;}
#about_us p{font-size: 1.7rem;padding: 3rem;text-align: center;background-color: rgba(240, 248, 255, 0.815);}

#models{display:grid;grid-template-columns: repeat(3,280px) ;gap: 1rem;align-items: center;justify-content: center;padding-bottom: 3rem;background-image: url(images/models.jpeg);background-size: cover;margin-top: 1.1rem;}
#models h2{grid-column:  1/-1;}
.shoe{border:2px solid rgba(128, 128, 128, 0.988);;height: 420px;display: flex;align-items: center;flex-wrap: wrap;flex-direction: column;background-color: aliceblue;color:navy;border-radius: 5px;justify-content:space-evenly}
div h3{background-color: rgba(189, 197, 205, 0.419);width:100%;text-align: center;height: 4rem;margin-top: -20px;padding-top: 20px;}
span{font-size: 0.5rem;}
h2{text-align: center;font-size: 2rem}	
.shoe img{width: 13rem;height: 10rem;border: 2px solid grey;}
figcaption{text-align: center;font-size: larger;}
.button{background-color: crimson;width:100px;border-radius:10px;color: aliceblue;}
.button:hover{background-color:rgb(245, 111, 138);}
.button:active{background-color: aliceblue;width:100px;
	border-radius: 10px;color:crimson;}
.price{font-weight: 700;font-size: 1.5rem;}
#pay{display:flex;grid-column:  1/-1;justify-content: space-around;}
.pay{width: 7vmax;}

#testimonial{margin-top:1.1rem;background-image: url(images/testimonial.jpeg);background-size: cover;background-repeat: no-repeat;text-align: center;padding-bottom: 5rem;}
iframe{width: 80vmin;height: 40vmin;border: 2px solid grey;}
form{text-align: center;}
#cert1{display: grid;justify-content: space-evenly; align-items: center;}
section:nth-of-type(4){border: none;}


.cert{width: 3rem;margin: 0 10px 10px 10px;}
#footer-img{margin:2rem auto;width:7.5rem;height: 7rem;grid-column: 1/-1;}

#copy{background-color:rgb(21, 27, 67);height: 3rem;width: 100%;}
#copy p, #copy a{text-align: center;font-family: sans-serif;color: rgba(240, 248, 255, 0.548);}

@media (max-width: 768px){#models{grid-template-columns: repeat(1,280px);}}

